article .container{
    height: 220px;
    margin-top: 18px;
    .ar_p1{
        height: 32px;
        background: #fff;
        padding-left:242px;
        line-height: 19px;
        i{  
            margin-top: 0px;
            margin-right: 6px;
            display:block;
            width:19px;
            height: 19px;
            background: url('../img/tishi.gif')
        }
        a{
            float:left;
            font-size: 14px;
            color:#666;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    .ar_p2{
        border:0 none;
        height: 188px;
        background:#fff;
        padding-left:242px;
        a{  
            float:left;
            display:block;
            margin-right:6px;
        }
    }
}